.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow:auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    font-size: 25px;
    
}

.modal-content{
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    min-height: 500px;
}


.closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    min-height: 100%;
    padding: 10px;
}  


.date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
}


.sun{
    background-image: url('../img/sun.jpg');
}

.rain{
    background-image: url('../img/rain.jpg');
    color: black;
}

.cloud{
    background-image: url('../img/cloud.jpg');
}