*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color: #333;
    color:#fff;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.container > div{
    cursor:pointer;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    transition: all .5s ease-in;
}

.container > div:hover{
    opacity: 0.7;
    transform: scale(0.98);
}

h2{
    font-size: 42px;
    font-weight: 300;
    margin:10px;
}
h2 span{
    font-size: 30px;
}
p{
    font-size: 20px;
}


.container > div:nth-of-type(1){
    grid-column: 1/3;
}
.container > div:nth-of-type(6){
    grid-column: 3/5;
}
.container > div:nth-of-type(9){
    grid-column: 3/5;
}
.container > div:nth-of-type(10){
    grid-column: 1/3;
}

.bg1{
    background: url('../img/pic2.jpg');
    color: rgb(32, 32, 32);
}
.bg2{
    background: url('../img/nature.jpg');
    color: rgb(179, 174, 174);
}


.source{
  padding: 5px;
}
.source:hover{
    color: white;
    transform:  scale(1.1);
  }

.source a{
    text-decoration: none;
    color:rgb(129, 127, 127);
    
}

.news-div{
    width:100%;
    align-items: flex-end;
    
}


.back, .read, .forward, .movie-back, .movie-forward, .movie-read{
    font-size: 40px;
    margin: 10px;
}

.back:hover, .read:hover, .forward:hover, .movie-back:hover, .movie-read:hover, .movie-forward:hover{
    transform: scale(1.2);
}


.fa-sun{
    font-size: 50px;
   
    margin-bottom: 20px;
}



.weather-icon{
    width: 100px;
}

.movie-image{
   width: 30%;
}

.movie-image:hover{
    transform: scale(3);
    transition: all .5s ease-in-out;
    opacity: .7;
}

.movie-content{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(201, 198, 198);
    
}

.movie-title{
    color: rgb(201, 198, 198);
}
/* .movie-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.movie-description{
    width: 70%;
    padding: 0;
    margin: 0;
}

.movie-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}




